{% extends "base.html" %}
{% block content %}

    <section>
        <!-- registration form -->
        <div class="my-container">
            <form class="me-3" method="POST" action="{{ url_for('admin_add_tutor') }}">
                {{ form.csrf_token }}
                <!-- user fname -->
                <div class="row">
                    {{ form.user_fname(placeholder="Please enter tutor's forename") }}
                    <span class="text-warning bg-dark">Must be between 5-15 characters .</span>
                    <ul>
                        {% for error in form.user_fname.errors %}
                        <li style="color:red;">{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- user lname -->
                <div class="row">
                    {{ form.user_lname(placeholder="Please tutor's your surname") }}
                    <span class="text-warning bg-dark">Must be between 5-15 characters .</span>
                    <ul>
                        {% for error in form.user_lname.errors %}
                        <li style="color:red;">{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- password -->
                <div class="row">
                    {{ form.user_password(placeholder="Password: letmein123") }}
                    <span class="text-warning bg-dark">Use default password.</span>
                    <ul>
                        {% for error in form.user_password.errors %}
                        <li style="color:red;">{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- password chceck -->
                <div class="row">
                    {{ form.check_password(placeholder="Please re-enter password") }}
                    <span class="text-warning bg-dark">Passwords must be the same.</span>
                    <ul>
                        {% for error in form.check_password.errors %}
                        <li style="color:red;">{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- email -->
                <div class="row">
                    {{ form.user_email(placeholder="Please enter valid email address") }}
                    <span class="text-warning bg-dark">Valid email address is required.</span>
                    <ul>
                        {% for error in form.user_email.errors %}
                        <li style="color:red;">{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-primary border-warning w-25 m-auto">
                        Register tutor
                    </button>
                    <a href="{{ url_for('tutor_management') }}" class="btn btn-primary m-auto border-warning w-25">Back</a>
                </div>
            </form>
        </div>
    </section>

{% endblock %}