{% extends "base.html" %}
{% block content %}

<section>
    <h3 class="text-center pt-3 pb-3 m-auto text-white bg-dark w-25">
        {{ tutor.tutor_fname.capitalize() }} {{ tutor.tutor_lname.capitalize() }}'s profile
    </h3>
    <div class="my-container me-3">
        <!-- admin section -->
        {% if tutor.tutor_email == "admin@admin.com" %}
        <a href="{{ url_for('student_management') }}" class="btn btn-primary border-warning btn-lg my-btns mb-3"
            role="button" aria-disabled="true">Student management
        </a>
        <a href="{{ url_for('tutor_management') }}" class="btn btn-primary border-warning btn-lg my-btns mb-3"
            role="button" aria-disabled="true">Tutor management
        </a>
        <a href="{{ url_for('modules_management') }}" class="btn btn-primary border-warning btn-lg my-btns mb-3"
            role="button" aria-disabled="true">Modules management
        </a>
        <a href="{{ url_for('enrolment_management') }}" class="btn btn-primary border-warning btn-lg my-btns"
            role="button" aria-disabled="true">Enrolment management
        </a>
        {% else %}
        <a href="{{ url_for('update_tutor_profile', tutor_id=tutor.id) }}" class="btn btn-primary border-warning btn-lg my-btns mb-3"
            role="button" aria-disabled="true">Update details
        </a>
        <a href="{{ url_for('tutor_grades', tutor_id=tutor.id) }}" class="btn btn-primary border-warning btn-lg my-btns mb-3"
            role="button" aria-disabled="true">Grades
        </a>
        {% endif %}
    </div>

</section>
    
{% endblock %}