{% extends "base.html" %}
{% block content %}

<section>
    <div class="text-danger text-end">
        <form action="#" method="POST">
            <div class="text-warning bg-dark text-center pt-2">
                <input type="text" name="query" id="query" minlength="3" class="validate white-text" required>
                <label for="query">Search</label>
                <span class="">At least 3 characters</span>                         
            </div>
            <div class="">
                <button type="submit" class="btn btn-primary border-warning btn-lg my-btns">Search</button>
                <a href="{{ url_for('tutor_profile', user_email=session['user_email']) }}" class="btn btn-primary border-warning btn-lg my-btns">Cancel</a>
                <a href="{{ url_for('admin_add_tutor') }}" class="btn btn-success border-warning btn-lg my-btns">Add Tutor</a>
            </div>
        </form>
        <table class="table bg-light">
            <thead>
              <tr>
                <th scope="col">Forename</th>
                <th scope="col">Surname</th>
                <th scope="col">Email address</th>
                <th scope="col"></th>
              </tr>
            </thead>
            {% for tutor in tutors %}
            <tbody>
                <tr>
                    <th scope="row">{{ tutor.tutor_fname }}</th>
                    <td>{{ tutor.tutor_lname }}</td>
                    <td>{{ tutor.tutor_email }}</td>
                    <td>
                        <a href="{{ url_for('update_tutor_profile', tutor_id=tutor.id) }}" class="btn btn-primary border-warning btn-sm">Update or delete</a>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</section>
    
{% endblock %}