{% extends "base.html" %}
{% block content %}

<h3 class="mx-auto text-center text-danger bg-dark w-25">Update grades</h3>

    <!-- registration form -->
    <div class="row m-auto w-50">
        <div class="">
            <div class="">
                <div class="row">
                    <form class="" method="POST" action="{{ url_for('tutor_update_grades', enrolment_id=enrolment.id) }}">
                        {{ form.csrf_token }}
                        <!-- module name -->
                        <div class="row">
                            {{ form.ca1(class="form-input small-input", value=enrolment.ca_1) }}
                            <span class="text-warning bg-dark">CA 1</span>
                            <ul>
                                {% for error in form.ca1.errors %}
                                <li style="color:red;">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- module description -->
                        <div class="row">
                            {{ form.ca2(class="form-input small-input", value=enrolment.ca_2) }}
                            <span class="text-danger bg-dark">CA 2</span>
                            <ul>
                                {% for error in form.ca2.errors %}
                                <li style="color:red;">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        
                        <!-- tutor email -->
                        <div class="row">
                            {{ form.exam(class="form-input small-input", value=enrolment.exam) }}
                            <span class="text-warning bg-dark">Exam</span>
                            <ul>
                                {% for error in form.exam.errors %}
                                <li style="color:red;">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="text-center">
                        <button type="submit" class="btn btn-warning border-primary btn-sm">
                            Update
                        </button>
                        <a href="{{ url_for('tutor_profile') }}" class="btn btn-primary border-warning btn-sm">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

